body {
  font-family: "Overpass", sans-serif;
}

/* Header Section Styles */
.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  font-weight: bold;
}

.left {
  margin-top: 10px;
}

.left li {
  display: inline;
  margin-right: 30px;
}

.right li {
  display: inline;
  margin-right: 20px;
}

/*Hero Section styles */

.hero {
  height: 100vh;
}

.heroWrapper {
  height: 100%;
  background-image: url("/Assets/Kitchen_3.png");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  padding: 13rem 6rem;
}

.heroText {
  margin-bottom: 9.5rem;
  font-family: "Times New Roman", Times, serif;
  color: #fffafa;
}

.heroText h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.heroText p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "Overpass", sans-serif;
}

.heroText a {
  padding: 0.8rem 2.8rem;
  background-color: #fffafa;
  border-radius: 5px;
  text-decoration: none;
  color: #004a4c;
  font-family: "Overpass", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* About section styles */

.about {
  width: 100%;
  height: 100vh;
  line-height: 2;
  background-image: url("/Assets/Mask\ Group\ 12.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 40%;
  background-position-x: 20%;
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}

.aboutText {
  padding: 9.4rem 4rem;
}

.aboutText h5 {
  font-size: 1rem;
}

.aboutText h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

.aboutText p {
  font-size: 1rem;
  line-height: 1.5;
}

.about img {
  width: 100%;
}

.aboutText ul {
  margin-bottom: 60px;
}

.aboutText ul li img {
  height: 66px;
  width: 69px;
  position: relative;
  top: 25px;
  left: -2px;
}

.aboutText a {
  padding: 1.1rem 2.9rem;
  background-color: #004a4c;
  border-radius: 5px;
  text-decoration: none;
  color: #fffafa;
  font-family: "Overpass", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Gallery Section Styles */

.gallery {
  margin-bottom: 100px;
}

.galerryWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.galerryWrapper img {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.imgContainer {
  position: relative;
  width: 535px;
  height: 415px;
  overflow: hidden;
  border-radius: 10px;
}

.imgContainer img:hover {
  transform: scale(1.1);
}

.imgContainer img:not(:hover) {
  transform: scale(1);
}

.centerText {
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translate(-50%, -50%);
}

/* Ready To Start section */

.readyToStart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftSide {
  text-align: left;
  padding-top: 1rem;
}

.leftSide h3 {
  font-size: 2.25rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin-bottom: 60px;
}

.leftSide a {
  text-decoration: none;
  color: #004a4c;
  font-size: 1rem;
  padding: 0.7rem 3rem;
  border: 1px solid #004a4c;
  border-radius: 10px 0 0 10px;
}
#arrow {
  border: 1px solid #004a4c;
  border-radius: 0px 10px 10px 0;
  padding: 0.7rem 0.9rem;
  margin-left: -5px;
}

.rightSide img {
  height: 350px;
  width: 350px;
  transition: 0.5s ease-in-out;
}

.rightSide img:hover {
  transform: translateX(50px);
}

.rightSide img {
  margin-right: -50px;
}

/*Testimonials Section Styles */

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -18px;
  margin-bottom: 80px;
  height: 350px;
  background-color: #ececec;
  text-align: center;
  line-height: 2;
}

.testimonialsTxt h5 {
  text-transform: uppercase;
  font-family: "Overpass", sans-serif;
}

.testimonialsTxt p {
  font-size: 1.563rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

/* Subscription styles */

.subscription {
  display: flex;
  margin-bottom: 50px;
}

.subscriptionWrapper {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 606px;
  position: relative;
  left: -5%;
  bottom: 20%;
  top: 30px;
  background-color: #dae5e5;
  text-align: left;
  padding: 0 6rem;
  line-height: 2;
  border-radius: 0px 10px 10px 0;
}

.subscriptionWrapper h5 {
  color: #002d33;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-top: 60px;
}

.subscriptionWrapper h3 {
  color: #000000;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.subscriptionWrapper p {
  color: #002d33;
  font-size: 1.125;
  line-height: 1.5;
}

.subscriptionWrapper a {
  text-decoration: none;
  color: #fffafa;
  background-color: #004a4c;
  font-size: 0.9rem;
  width: 207px;
  height: 40px;
  border: 1px solid #004a4c;
  border-radius: 5px;
  text-align: center;
  padding-top: 12px;
  bottom: 40px;
}

.eco {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 35px;
}

.eco img {
  position: relative;
  top: 25px;
  left: -15px;
}

#rightImage {
  position: relative;
  bottom: -300px;
  width: 308px;
  height: 373px;
  z-index: 3;
}

#leftImage {
  position: relative;
  z-index: 2;
  right: -236px;
}

/*Ocean section styles */

.ocean {
  height: 50vh;
  margin-top: 150px;
  margin-bottom: 320px;
}

#videoBackground {
  height: 100vh;
  width: 100vw;
  object-fit: scale-down;
}

.oceanWrapper {
  border-radius: 10px;
  text-align: center;
  height: 100%;
  line-height: 2;
}

.oceanWrapper h4 {
  font-family: "Overpass", sans-serif;
  color: #fffafa;
  font-size: 1.1rem;
}

.oceanWrapper h3 {
  color: #fffafa;
  font-size: 2rem;
}

.oceanWrapper p {
  color: #fffafa;
  margin-bottom: 20px;
  font-family: "Overpass", sans-serif;
}

.oceanWrapper a {
  text-decoration: none;
  background-color: #fffafa;
  color: #004a4c;
  padding: 0.8rem 2rem;
  border-radius: 5px;
}

/*carousel section styles */
.carouselSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 220px;
}

.carouselSection h3 {
  color: #002d33;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  right: 10px;
  position: relative;
}

.carousel img {
  width: 250px;
  height: 250px;
  margin-right: 20px;
}

.carousel .carouselItem:nth-child(even) {
  top: 20px;
  position: relative;
}

.carousel .carouselItem:nth-child(odd) {
  top: -20px;
  position: relative;
}

.instagram {
  text-decoration: none;
  text-transform: uppercase;
  color: #004a4c;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  border: 1px solid #004a4c;
  border-radius: 5px 0 0 5px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
}

#ig {
  padding: 0.7rem 1rem;
  border: 1px solid #004a4c;
  border-radius: 0 5px 5px 0;
  margin-left: -1px;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.social a {
  text-align: center;
}

footer {
  background-color: #487d7f;
  height: 47vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.newsletter {
  width: 90%;
  height: 35vh;
  position: relative;
  background-image: url("/Assets/Biom_wipe_2.png");
  background-position: center;
  background-size: cover;
  background-color: #f2f2f2;
  left: 5%;
  border-radius: 20px;
  top: -140px;
  text-align: left;
  line-height: 1.4;
}

.newsletter h3 {
  font-size: 2rem;
  line-height: 1.2;
}

.newsletter p {
  font-size: 0.9rem;
}

.newsletter * {
  margin-left: 100px;
  position: relative;
  top: 14%;
}

.subscribe {
  position: absolute;
  top: 190px;
  left: -100px;
}

.subscribe input {
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 5px;
}

.subscribe span {
  position: relative;
  left: -230px;
}

.footerNav {
  display: flex;
  justify-content: center;
  height: 0.2%;
  border-bottom: 1px solid #004a4c;
}

.footerNav li {
  position: relative;
  top: -90px;
  display: inline;
  color: #fffafa;
  text-transform: uppercase;
  margin: 0 30px;
  font-size: 0.9rem;
}

.copy {
  color: white;
  font-size: 0.8rem;
  margin: 20px 20px;
}

.socialMediaFooter {
  width: 20%;
  position: relative;
  right: -80%;
  top: -40px;
}

.socialMediaFooter li {
  display: inline;
  margin: 20px;
}
