body {
  font-family: "Overpass", sans-serif;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 5rem;
  font-weight: bold;
  text-align: center;
}

.left li {
  display: inline;
  margin-right: 30px;
}

.right li {
  display: inline;
  margin-right: 20px;
}
